
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .topnav .time , .contact{
        text-align: center!important;
    }

    .main_nav li {
        padding: 0 2px !important;
    }
    /* banner  */
    .banner .banner_container{
        padding-top: 80%;
    }
    .banner .banner_container h1 {
        font-size: 40px;
        font-weight: 700;
        color: #212529;
        margin-left: 35px;
    }
    .banner .banner_container p {
        font-size: 20px;
        font-weight: 1300;
        color: #212529;
    }
    .banner .banner_container a{
        background-color: #212529;
        padding: 13px 9px;
        border-radius: 8px;
        color: #62E3E3;
        text-decoration: none;
        margin-left: 70px;
    }
    .banner .banner_container a:hover{
        background-color:#62E3E3;
        border-radius: 20px 0 20px 0;
        color: #212529;
        font-weight: 700;
        border:2px solid #212529 ;
    }
    
 }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

 }
